/* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.5); /* Black with opacity */
}

/* Modal Content Box */
.modal-content {
    background-color: #fff;
    margin: 10% auto; /* Center in the screen */
    padding: 20px;
    border-radius: 10px;
    width: 80%; /* Width of the modal box */
    max-width: 600px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
}

/* Link Style */
a {
    text-decoration: none;
    color: blue;
    font-size: 110%;
}

a:hover {
    text-decoration: underline;
}
