<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About us</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <p class="text-muted">Our research seeks a predictive understanding of biomolecular dynamics and mechanisms that underlie biological function and shape evolution.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <p class="text-muted">We are bringing together data science / deep learning -- a 10,000-ft view of all known data and patterns -- and NMR spectroscopy -- an intimate view of biomolecules' motions and timing in ambient conditions.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <p class="text-muted">We are in UW-Madison Biochemistry, affiliated with Biostatistics and Medical Informatics, and friends with NMRFAM.</p>
                </div>
            </div>
        </div>
    </div>
</section>
