<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About us</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-6 text-center">
                <div class="service-box">
                    <p class="text-muted">Our research seeks a predictive understanding of biomolecular dynamics and mechanisms that underlie biological function and shape evolution.
                        
                    We are bringing together data science, deep learning, and NMR spectroscopy. Deep learning: a 10,000-ft view of all known data and patterns. NMR: an intimate view of biomolecules' motions, interactions, and timing.

                    We are based at UW-Madison <a href="https://biochem.wisc.edu/">Biochemistry</a> and affiliated with <a href="https://biostat.wiscweb.wisc.edu/">Biostatistics and Medical Informatics</a></a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
