<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contact</h2>
                <hr class="primary">
                <p>We welcome applicants with backgrounds in computation, experiment, and any mix of the two! 
<br>
<br>
Interested PhD applicants are encouraged to apply to biophysics, the integrated program in biochemistry, and/or the biomedical data science PhD programs. 
<br>
<br>
Interested in post-doc or post-bac: please email Hannah describing your interests and goals, and a CV.
                </p>
            </div>
    </div>
    </div>
</section>
