<br>
<br>
<br>
<br>

<div class="container text-center" style="padding-bottom: 20px;">
    <img src="/img/uw-logo-vertical-1-color-web-digital.png" alt="UW-Madison Logo" style="max-width: 400px; height: auto;">
</div>


<section id="contact" style="background-color: #282728; color: #ADADAD; padding: 50px 0;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading" style="color: #ADADAD;">Contact</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="primary">
                    We welcome applicants with backgrounds in computation, experiment, and any mix of the two! 
                    <br><br>
                    Interested PhD applicants are encouraged to apply to the 
                    <a href="https://biophysics.wisc.edu/">Biophysics</a>, 
                    the Integrated Program in 
                    <a href="https://ipib.wisc.edu/">Biochemistry</a>, 
                    and/or the 
                    <a href="https://guide.wisc.edu/graduate/biostatistics-medical-informatics/biomedical-data-science-phd/">
                        Biomedical Data Science
                    </a> PhD programs.
                    <br><br>
                    Interested in post-doc or post-bac: please email 
                    <a href="mailto:hannah.waymentsteele@wisc.edu">Hannah</a> 
                    describing your interests and goals, along with a CV.
                </p>
            </div>
        </div>
    </div>
</section>
