<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>
            The <span style="font-family: 'Book Antiqua', 'Palatino Linotype', 'Georgia', serif; font-size: 1.4em;">W</span>ayment-<span style="font-family: 'Book Antiqua', 'Palatino Linotype', 'Georgia', serif; font-size: 1.4em;">S</span>teele lab
            </h1>
             <p style="font-size: 1.5em; font-weight: bold; background: rgba(255, 255, 255, 0.2); color: white; padding: 5px 10px; display: inline-block; border-radius: 5px;">
                Accessing the dynamical foundations of biology
            </p>
        </div>
    </div>
</header>
