<section id="new_news_carousel">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">News</h2>
                <hr class="primary">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- News Carousel -->
                <div class="news-carousel">
                    <div class="news-item active">
                        {% assign sorted_news = site.data.news | sort: "date" | reverse -%}
                        {%- for news in sorted_news limit:3 -%}
                        <div class="news-slide">
                            <p class="news-text">{{ news.text | markdownify }}</p>
                        </div>
                        {%- endfor -%}
                    </div>
                </div>

                <!-- Navigation Arrows -->
                <button class="prev-btn">&#10094;</button>
                <button class="next-btn">&#10095;</button>

                <!-- "See More" Button -->
                <div class="news-footer">
                    <a href="/news/" class="see-more-btn">See All</a>
                </div>
            </div>
        </div>
    </div>
</section>
