<section id="recent_news">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">News</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <!-- News Section -->
                <div style="max-height: 300px; overflow-y: auto; margin-bottom: 20px;">
                    <ul>
                        {% assign sorted_news = news | sort: "date" | reverse -%}
                        {%- for news in sorted_news limit:3 -%}
                            <li style="font-size: 120%;">{{ news.text | markdownify }}</li>
                        {%- endfor -%}
                    </ul>
                </div>
                <a href="publications" >See More News</a>
            </div>
        </div>
    </div>
</section>
