<section id="recent_papers">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Recent Papers</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">

                <div style="max-height: 300px; overflow-y: auto; margin-bottom: 20px;">
                    <ul>
                        {% assign sorted_publications = site.data.publications | sort: "date" | reverse -%}
                        {%- for publication in sorted_publications limit:3 -%}
                            <li style="font-size: 120%;">{{ publication.citation 
                            {% if publication.url_link %}
                                    <a href="{{ publication.url_link }}" target="_blank" 
                                       style="margin-left: 8px; text-decoration: none; font-size: 1.2em;"
                                       aria-label="Open publication">🔗
                                    </a>
                            {% endif %}| markdownify }}  
                            </li>
                        {%- endfor -%}
                    </ul>
                </div>
                <a href="publications" >See More Papers</a>
            </div>
        </div>
    </div>
</section>
