<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recent News Pop-Up</title>
    <!-- Link the CSS file -->
    <link rel="stylesheet" href="recentnewspop.css">
</head>
<body>
    <section id="recent_news_pop">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">News</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- News Section Pop-Up -->
                    <div id="news-modal" class="modal">
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <h2>Recent News</h2>
                            <ul>
                                {% assign sorted_news = site.data.news | sort: "date" | reverse -%}
                                {%- for news in sorted_news limit:3 -%}
                                    <li style="font-size: 120%;">{{ news.text | markdownify }}</li>
                                {%- endfor -%}
                            </ul>
                            <a href="/news/">See More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Link the JS file -->
    <script src="recentnewspop.js"></script>
</body>
</html>
