<!-- <section id="recent_news_pop">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">News</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- News Section Pop-Up -->
<!--                 <div id="news-modal" class="custom-modal">
                    <div class="custom-modal-content">
                        <span class="custom-close">&times;</span>
                        <h2>Recent News</h2>
                        <ul>
                            {% assign sorted_news = site.data.news | sort: "date" | reverse -%}
                            {%- for news in sorted_news limit:3 -%}
                                <li style="font-size: 120%;">{{ news.text | markdownify }}</li>
                            {%- endfor -%}
                        </ul>
                        <a href="/news/" style="font-size: 110%; color: blue;">See More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->



<section id="recent_news_pop">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">News</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Trigger button for opening the modal -->
                <button id="open-news-popup" class="btn">Show Recent News</button>

                <!-- News Section Pop-Up -->
                <div id="news-modal" class="custom-modal">
                    <div class="custom-modal-content">
                        <span id="close-news-popup" class="custom-close">&times;</span>
                        <h2>Recent News</h2>
                        <ul>
                            {% assign sorted_news = site.data.news | sort: "date" | reverse -%}
                            {%- for news in sorted_news limit:3 -%}
                                <li style="font-size: 120%;">{{ news.text | markdownify }}</li>
                            {%- endfor -%}
                        </ul>
                        <a href="/news/" style="font-size: 110%; color: blue;">See More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
